footer{
	background-color: #2d2e27;
	color: rgb(126, 128, 117);
}

h3{
	color: #e8e8da ;
}

#art-gallery-name{
	text-align: center; 
	color: #e8e8da; 
	font-size: 2rem; 
	font-weight: 900; 
	font-family: 'Times New Roman', Times, serif;
}

.copyright-footer{
	text-align: center;
}

