footer {
	background-color: #2d2e27;
	color: rgb(126, 128, 117);
}

h3 {
	color: #e8e8da;
}

#art-gallery-name {
	text-align: center;
	color: #e8e8da;
	font-size: 2rem;
	font-weight: 900;
	font-family: "Times New Roman", Times, serif;
}

/* Footer  */
.copyright-footer {
	text-align: center;
}

.footer-container {
	display: flex;
	justify-content: space-around;
	text-align: justify;
}

.footer-container ul li {
	list-style-type: none;
	padding: 5px 0;
}

.footer-container ul {
	padding: 0;
}
